<html>

<head>
  <link rel="stylesheet" href="./app.component.css">
</head>

<body class="body">
  <div class="todos">
    


    <h1>Todo List</h1>
    <div class="todo-creation">
      <div>
        <label>Title: </label>
        <input name="title" [(ngModel)]="title" placeholder="Title" id="title">
      </div>
      <div>
        <label>Progess: </label>
        <input name="progress" [(ngModel)]="progress" placeholder="Progress"
          id="progress">
      </div>
      <mat-icon (click)="addTodo()">add_circle</mat-icon>


    </div>



      <table>
        <tr>
          <th>Title</th>
          <th>Progress</th>
          <th id="action">Actions</th>
        </tr>
        <tr *ngFor="let todo of todos">
          <td>{{todo.title}}</td>
          <td>{{todo.progress}}</td>
          <td>
            <mat-icon (click)="editTodo(todo.id)">edit</mat-icon>
            <mat-icon (click)="deleteTodo(todo.id)">delete</mat-icon>
          </td>
        </tr>
      </table>

    </div>
  
</body>

</html>
